.header-navigation {
  margin-top: 5rem;
  padding: 15px 20px;
}

.menu-principal .list {
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-principal .list li {
  list-style: none;
}

.menu-principal .list li a {
  text-decoration: none;
  color: #2c3e50;
  transition: all 3s ease;
}

.menu-principal .list li a:hover {
  color: #243442;
  text-decoration: underline;
}

@media (width <= 890px) {
  .menu-principal .list {
    flex-direction: column;
  }
}
